
<div class="px-3 py-2 bordered d-flex justify-content-between">
  <h5>Home</h5>
  <i class="far fa-star"></i>
</div>
<div class="p-3 bordered d-flex flex-column">
  <div class="row">
    <div class="col-2 pl-3 pl-sm-4 pl-lg-4 pl-xl-3">
      <%= link_to user_path(current_user.username) do %>
        <%= image_tag "default", width: 40, height: 40, class: "mt-2" %>
      <% end %>
    </div>
    <div class="col-10 pl-lg-1 pl-xl-1">
      <%= simple_form_for @tweet, url: tweets_path do |f| %>
        <%= f.input :content, label: false, placeholder: "What's happening", input_html: { class: "p-0 py-2 new-tw", maxlength: 280 } %>
        <div class="d-flex justify-content-end">
          <%= f.button :submit, "Tweet", class: "btn px-3 py-2 btn-sm btn-primary align-self-end font-weight-bold"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="list-group">
  <%= render @tweets %>
  <%= will_paginate @tweets, list_classes: %w(pagination bordered py-4 justify-content-center), 
    renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
