<div class="list-group">
  <% users.each do |user| %>
    <div class="list-group-item list-group-item-action tweet" aria-current="true">
      <div class="row">
        <div class="col-1">
          <%= link_to user_path(user.username) do%>
            <%= image_tag "default.png", width: 40, height: 40 %>
          <% end %>
        </div>
        <div class="col-11">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="d-flex flex-column"> 
              <%= link_to user_path(user.username) do %>
                <p class="d-inline font-weight-bold"><%= user.name %>  </p> <br/>
              <% end %>
              <small>@<%= user.username %>&nbsp;</small>
            </div>
            <div>
              <% if user==current_user %>
                <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-sm btn-outline-primary" %> 
              <% else %>
                <% if !current_user.followings.include? user %>
                  <%= link_to "Follow", user_follow_path(user.username), method: :post, class: "btn btn-sm btn-outline-primary" %>
                <% else %>
                  <%= link_to "Unfollow", user_unfollow_path(user.username), method: :post, class: "btn btn-sm btn-outline-primary" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>