<div class="row h-100">
  <div class="col-2">
    <%= render "shared/navbar" %>
  </div>  
  <div class="col-9">
    <div class="px-3 py-1 bordered bordered-first d-flex align-items-center">
      <%= link_to user_path(@user.username) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div class="ml-4">
        <h5 class="mb-0 mt-0"><%= @user.name %></h5>
        <small class="text-secondary mt-0"> @<%= @user.username %> </small>
      </div>
    </div>
    <%= render "users/users", users: @user.followings %>
  </div>
</div>