<div class="row h-100">
  <div class="col-3">
    <%= render "shared/navbar" %>
  </div>  
  <div class="col-6">
    <div class="bordered">
      <div class="px-3 py-1 d-flex align-items-center">
        <%= link_to user_path(@user.username) do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <div class="ml-4">
          <h5 class="mb-0 mt-0"><%= @user.name %></h5>
          <small class="text-secondary mt-0"> @<%= @user.username %> </small>
        </div>
      </div>
      <ul class="nav nav-tabs justify-content-between">
        <li class="nav-item w-50 text-center">
          <%= link_to "Followers", user_followers_path(@user.username), class: "nav-link active" %>
        </li>
        <li class="nav-item w-50 text-center">
          <%= link_to "Following", user_following_path(@user.username), class: "nav-link" %>
        </li>
      </ul>
    </div>
    <%= render "users/users" %>
    <%= will_paginate @users, list_classes: %w(pagination bordered py-4 justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>