<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row h-100">
      <div class="col-3 h-100">
        <%= render "layouts/navbar" %>
      </div>
      <div class="col-6">
        <%= render "shared/messages"%>
        <%= yield %>
      </div>
      <div class="col-3 mt-1 search-container">
        <%= form_tag user_search_path, method: :get, class: "form-inline" do %>
          <%= submit_tag "Search", method: :get, class: "btn btn-sm btn-outline-primary", type: "hidden" %>

          <span class="fas fa-search"></span>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control search" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
